@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.App {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.navbar{
  background-color: #333;
  position: relative;

}
.logo {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;

}
.logo p{
  color:aliceblue;
}

.nav-links ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: right;
}

.nav-links li {
  display: inline-block;
  margin-right: 50px;
}

.nav-links a {
  display: inline-block;
  padding: 20px;
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  background-color: #302c2c;
  border-radius: 15px;
}



